In [1]:
# Dependencies
import pandas as pd
import numpy as np

In [2]:
# Read CSV data and save as Pandas DataFrame
data_movies = pd.read_csv("data/IMDb movies.csv")
data_names = pd.read_csv("data/IMDb names.csv")
data_ratings = pd.read_csv("data/IMDb ratings.csv")
data_title_principals = pd.read_csv("data/IMDb title_principals.csv")

df_movies = pd.DataFrame(data_movies)
df_names = pd.DataFrame(data_names)
df_ratings = pd.DataFrame(data_ratings)
df_title = pd.DataFrame(data_title_principals)

C:\Users\WelanR_01\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [10]:
df_movies.dtypes

imdb_title_id             object
title                     object
original_title            object
year                      object
date_published            object
genre                     object
duration                   int64
country                   object
language                  object
director                  object
writer                    object
production_company        object
actors                    object
description               object
avg_vote                 float64
votes                      int64
budget                    object
usa_gross_income          object
worlwide_gross_income     object
metascore                float64
reviews_from_users       float64
reviews_from_critics     float64
dtype: object

In [11]:
df_names.dtypes

imdb_name_id              object
name                      object
birth_name                object
height                   float64
bio                       object
birth_details             object
date_of_birth             object
place_of_birth            object
death_details             object
date_of_death             object
place_of_death            object
reason_of_death           object
spouses_string            object
spouses                    int64
divorces                   int64
spouses_with_children      int64
children                   int64
dtype: object

In [12]:
df_ratings.dtypes

imdb_title_id                 object
weighted_average_vote        float64
total_votes                    int64
mean_vote                    float64
median_vote                  float64
votes_10                       int64
votes_9                        int64
votes_8                        int64
votes_7                        int64
votes_6                        int64
votes_5                        int64
votes_4                        int64
votes_3                        int64
votes_2                        int64
votes_1                        int64
allgenders_0age_avg_vote     float64
allgenders_0age_votes        float64
allgenders_18age_avg_vote    float64
allgenders_18age_votes       float64
allgenders_30age_avg_vote    float64
allgenders_30age_votes       float64
allgenders_45age_avg_vote    float64
allgenders_45age_votes       float64
males_allages_avg_vote       float64
males_allages_votes          float64
males_0age_avg_vote          float64
males_0age_votes             float64
males_18age_avg_vote         float64
males_18age_votes            float64
males_30age_avg_vote         float64
males_30age_votes            float64
males_45age_avg_vote         float64
males_45age_votes            float64
females_allages_avg_vote     float64
females_allages_votes        float64
females_0age_avg_vote        float64
females_0age_votes           float64
females_18age_avg_vote       float64
females_18age_votes          float64
females_30age_avg_vote       float64
females_30age_votes          float64
females_45age_avg_vote       float64
females_45age_votes          float64
top1000_voters_rating        float64
top1000_voters_votes         float64
us_voters_rating             float64
us_voters_votes              float64
non_us_voters_rating         float64
non_us_voters_votes          float64
dtype: object

In [13]:
df_title.dtypes

imdb_title_id    object
ordering          int64
imdb_name_id     object
category         object
job              object
characters       object
dtype: object

In [24]:
cleaned_df = df_movies.dropna()

In [25]:
cleaned_df

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
506,tt0017136,Metropolis,Metropolis,1927,1928-10-01,"Drama, Sci-Fi",153,Germany,German,Fritz Lang,...,"Alfred Abel, Gustav Fröhlich, Rudolf Klein-Rog...",In a futuristic city sharply divided between t...,8.3,156076,DEM 6000000,$ 1236166,$ 1349711,98.0,495.0,208.0
1048,tt0021749,Luci della città,City Lights,1931,1931-04-02,"Comedy, Drama, Romance",87,USA,English,Charles Chaplin,...,"Virginia Cherrill, Florence Lee, Harry Myers, ...","With the aid of a wealthy erratic tippler, a d...",8.5,162668,$ 1500000,$ 19181,$ 46008,99.0,295.0,122.0
2454,tt0027977,Tempi moderni,Modern Times,1936,1937-03-12,"Comedy, Drama, Family",87,USA,English,Charles Chaplin,...,"Charles Chaplin, Paulette Goddard, Henry Bergm...",The Tramp struggles to live in modern industri...,8.5,211250,$ 1500000,$ 163577,$ 457688,96.0,307.0,115.0
2795,tt0029453,Il bandito della Casbah,Pépé le Moko,1937,1937-10-22,"Crime, Drama, Romance",94,France,"French, Arabic",Julien Duvivier,...,"Jean Gabin, Gabriel Gabrio, Saturnin Fabre, Fe...",A wanted gangster is both king and prisoner of...,7.7,6180,$ 60000,$ 155895,$ 155895,98.0,46.0,55.0
2827,tt0029583,Biancaneve e i sette nani,Snow White and the Seven Dwarfs,1937,1938-11-30,"Animation, Family, Fantasy",83,USA,English,"William Cottrell, David Hand",...,"Roy Atwell, Stuart Buchanan, Adriana Caselotti...",Exiled into the dangerous forest by her wicked...,7.6,177157,$ 1499000,$ 184925486,$ 184925486,95.0,260.0,173.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85266,tt9208444,Impractical Jokers: The Movie,Impractical Jokers: The Movie,2020,2020-02-28,Comedy,92,USA,English,Chris Henchy,...,"Paula Abdul, Joe Gatto, James Murray, Brian Qu...",The story of a humiliating high school mishap ...,5.9,4105,$ 3000000,$ 10691091,$ 10691091,39.0,152.0,17.0
85274,tt9214832,Emma.,Emma.,2020,2020-03-27,"Comedy, Drama",124,UK,English,Autumn de Wilde,...,"Anya Taylor-Joy, Angus Imrie, Letty Thomas, Ge...","In 1800s England, a well meaning but selfish y...",6.7,19858,$ 10000000,$ 10055355,$ 25659965,71.0,314.0,188.0
85397,tt9354944,Jexi,Jexi,2019,2019-10-11,"Comedy, Romance",84,"USA, Canada",English,"Jon Lucas, Scott Moore",...,"Adam Devine, Alexandra Shipp, Rose Byrne, Ron ...",A comedy about what can happen when you love y...,6.1,17038,$ 5000000,$ 6546159,$ 9341824,39.0,234.0,42.0
85460,tt9426210,Weathering with You,Tenki no ko,2019,2019-10-14,"Animation, Drama, Family",112,"Japan, China",Japanese,Makoto Shinkai,...,"Kotaro Daigo, Nana Mori, Shun Oguri, Sei Hirai...",A high-school boy who has run away to Tokyo be...,7.6,16277,$ 11100000,$ 7798743,$ 193176979,72.0,177.0,110.0
85740,tt9779516,Cosa mi lasci di te,I Still Believe,2020,2020-03-19,"Biography, Drama, Music",116,USA,English,"Andrew Erwin, Jon Erwin",...,"K.J. Apa, Britt Robertson, Nathan Parsons, Gar...",The true-life story of Christian music star Je...,6.5,6196,$ 12000000,$ 9868521,$ 13681524,41.0,151.0,52.0

In [26]:
cleaned_df.columns

Index(['imdb_title_id', 'title', 'original_title', 'year', 'date_published',
       'genre', 'duration', 'country', 'language', 'director', 'writer',
       'production_company', 'actors', 'description', 'avg_vote', 'votes',
       'budget', 'usa_gross_income', 'worlwide_gross_income', 'metascore',
       'reviews_from_users', 'reviews_from_critics'],
      dtype='object')

In [28]:
reduced_df = cleaned_df[['original_title', 'year',
       'genre', 'duration', 'country', 'director', 'writer',
       'production_company', 'actors', 'avg_vote', 'votes',
       'budget', 'worlwide_gross_income']]

reduced_df

,original_title,year,genre,duration,country,director,writer,production_company,actors,avg_vote,votes,budget,worlwide_gross_income
506,Metropolis,1927,"Drama, Sci-Fi",153,Germany,Fritz Lang,"Thea von Harbou, Thea von Harbou",Universum Film (UFA),"Alfred Abel, Gustav Fröhlich, Rudolf Klein-Rog...",8.3,156076,DEM 6000000,$ 1349711
1048,City Lights,1931,"Comedy, Drama, Romance",87,USA,Charles Chaplin,Charles Chaplin,Charles Chaplin Productions,"Virginia Cherrill, Florence Lee, Harry Myers, ...",8.5,162668,$ 1500000,$ 46008
2454,Modern Times,1936,"Comedy, Drama, Family",87,USA,Charles Chaplin,Charles Chaplin,Charles Chaplin Productions,"Charles Chaplin, Paulette Goddard, Henry Bergm...",8.5,211250,$ 1500000,$ 457688
2795,Pépé le Moko,1937,"Crime, Drama, Romance",94,France,Julien Duvivier,"Henri La Barthe, Henri La Barthe",Paris Film,"Jean Gabin, Gabriel Gabrio, Saturnin Fabre, Fe...",7.7,6180,$ 60000,$ 155895
2827,Snow White and the Seven Dwarfs,1937,"Animation, Family, Fantasy",83,USA,"William Cottrell, David Hand","Jacob Grimm, Wilhelm Grimm",Walt Disney Productions,"Roy Atwell, Stuart Buchanan, Adriana Caselotti...",7.6,177157,$ 1499000,$ 184925486
...,...,...,...,...,...,...,...,...,...,...,...,...,...
85266,Impractical Jokers: The Movie,2020,Comedy,92,USA,Chris Henchy,"Chris Henchy, Joe Gatto",Funny or Die,"Paula Abdul, Joe Gatto, James Murray, Brian Qu...",5.9,4105,$ 3000000,$ 10691091
85274,Emma.,2020,"Comedy, Drama",124,UK,Autumn de Wilde,"Eleanor Catton, Jane Austen",Working Title Films,"Anya Taylor-Joy, Angus Imrie, Letty Thomas, Ge...",6.7,19858,$ 10000000,$ 25659965
85397,Jexi,2019,"Comedy, Romance",84,"USA, Canada","Jon Lucas, Scott Moore","Jon Lucas, Scott Moore",CBS Films,"Adam Devine, Alexandra Shipp, Rose Byrne, Ron ...",6.1,17038,$ 5000000,$ 9341824
85460,Tenki no ko,2019,"Animation, Drama, Family",112,"Japan, China",Makoto Shinkai,Makoto Shinkai,"""Weathering With You"" Film Partners","Kotaro Daigo, Nana Mori, Shun Oguri, Sei Hirai...",7.6,16277,$ 11100000,$ 193176979
85740,I Still Believe,2020,"Biography, Drama, Music",116,USA,"Andrew Erwin, Jon Erwin","Jeremy Camp, Jon Erwin",Kevin Downes Productions,"K.J. Apa, Britt Robertson, Nathan Parsons, Gar...",6.5,6196,$ 12000000,$ 13681524

In [33]:
df_movies["country"].value_counts()

USA                                                28511
India                                               6065
UK                                                  4111
Japan                                               3077
France                                              3055
                                                   ...
UK, USA, Ireland, Luxembourg, France                   1
France, Myanmar                                        1
Belgium, France, Luxembourg, Italy, Switzerland        1
Colombia, Argentina, Uruguay, Spain, France            1
Paraguay, Argentina                                    1
Name: country, Length: 4907, dtype: int64

In [37]:
usa_df = reduced_df.loc[reduced_df["budget"].str.contains("$"),:]
usa_df

,original_title,year,genre,duration,country,director,writer,production_company,actors,avg_vote,votes,budget,worlwide_gross_income
506,Metropolis,1927,"Drama, Sci-Fi",153,Germany,Fritz Lang,"Thea von Harbou, Thea von Harbou",Universum Film (UFA),"Alfred Abel, Gustav Fröhlich, Rudolf Klein-Rog...",8.3,156076,DEM 6000000,$ 1349711
1048,City Lights,1931,"Comedy, Drama, Romance",87,USA,Charles Chaplin,Charles Chaplin,Charles Chaplin Productions,"Virginia Cherrill, Florence Lee, Harry Myers, ...",8.5,162668,$ 1500000,$ 46008
2454,Modern Times,1936,"Comedy, Drama, Family",87,USA,Charles Chaplin,Charles Chaplin,Charles Chaplin Productions,"Charles Chaplin, Paulette Goddard, Henry Bergm...",8.5,211250,$ 1500000,$ 457688
2795,Pépé le Moko,1937,"Crime, Drama, Romance",94,France,Julien Duvivier,"Henri La Barthe, Henri La Barthe",Paris Film,"Jean Gabin, Gabriel Gabrio, Saturnin Fabre, Fe...",7.7,6180,$ 60000,$ 155895
2827,Snow White and the Seven Dwarfs,1937,"Animation, Family, Fantasy",83,USA,"William Cottrell, David Hand","Jacob Grimm, Wilhelm Grimm",Walt Disney Productions,"Roy Atwell, Stuart Buchanan, Adriana Caselotti...",7.6,177157,$ 1499000,$ 184925486
...,...,...,...,...,...,...,...,...,...,...,...,...,...
85266,Impractical Jokers: The Movie,2020,Comedy,92,USA,Chris Henchy,"Chris Henchy, Joe Gatto",Funny or Die,"Paula Abdul, Joe Gatto, James Murray, Brian Qu...",5.9,4105,$ 3000000,$ 10691091
85274,Emma.,2020,"Comedy, Drama",124,UK,Autumn de Wilde,"Eleanor Catton, Jane Austen",Working Title Films,"Anya Taylor-Joy, Angus Imrie, Letty Thomas, Ge...",6.7,19858,$ 10000000,$ 25659965
85397,Jexi,2019,"Comedy, Romance",84,"USA, Canada","Jon Lucas, Scott Moore","Jon Lucas, Scott Moore",CBS Films,"Adam Devine, Alexandra Shipp, Rose Byrne, Ron ...",6.1,17038,$ 5000000,$ 9341824
85460,Tenki no ko,2019,"Animation, Drama, Family",112,"Japan, China",Makoto Shinkai,Makoto Shinkai,"""Weathering With You"" Film Partners","Kotaro Daigo, Nana Mori, Shun Oguri, Sei Hirai...",7.6,16277,$ 11100000,$ 193176979
85740,I Still Believe,2020,"Biography, Drama, Music",116,USA,"Andrew Erwin, Jon Erwin","Jeremy Camp, Jon Erwin",Kevin Downes Productions,"K.J. Apa, Britt Robertson, Nathan Parsons, Gar...",6.5,6196,$ 12000000,$ 13681524